
.cardWrapper {
    width: 300px;
    height: 300px;
}

.cardContainer {
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 0.7s;

    /* Specifies how nested elements are rendered in 3d space */
    transform-style: preserve-3d;
}

.cardFrontSide {
    position: absolute;

    /* Used to hide backside of the image content, because after rotating the 
    front side, we don't want to see the content backside.
    */
    backface-visibility: hidden;

    width: 100%;
    height: 100%;
}

.cardBackSide {
    position: absolute;
    
    /* Initially rotating the card backside content */
    transform: rotateY(180deg);
    
    /* Used to hide the content backside. 
    i.e once we rotate the item, we can see the backside of the content
    */
    backface-visibility: hidden;

    background-color: #729ed5;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.cardContainer:hover {
    transform: rotateY(180deg);
}
