.grid1 > div{
  background: grey;
  padding: 20px;
  text-align: center;
}

.grid1{
/* display:inline-grid; */
display: grid;
grid-template-columns: repeat(3,1fr);
/* grid-template-rows: repeat(3,1fr); */
grid-gap: 2vw;
}